.img{
  display: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 300px;
}

.borda{
  width: 300px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;

  /*centraliza*/
  position: absolute;
  left: 50%;
  top: 60%;
  transform: translate(-50%, -50%);
}

.conteudo{
  text-align: center;
  padding: 10px 20px;
}

.logo {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
  width: 100px;
  height: 30px;
}

.logo:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.imagem-esquerda{
  display: flex;
  position: relative; /*absolute*/
  top: 15%;
  margin-left: 100px;
  flex-direction: column;
}

.imagem-local{
  /*responsiva*/
  display: block;
  width: 200px;
  height: auto;
}

.imagem-local:hover{
  transform: scale(1.4);
  transition: all .2s ease-in-out;
}

.imagem-direita{
  position: absolute;
  top: 30%;
  left: 75%;

  width: 200px;
  height: auto;

  margin: 0;
  overflow: hidden; /*esconde o titulo e descrição*/

  padding: 10px;
  background: #fff;
  border: 10px solid #ddd;
}

.imagem-direita:hover .descricao{
    display: block;
    font-size: 1.2em;
    background: #111;
    filter:alpha(opacity=60);
    opacity:.60;
    color: #fff;
    position: absolute;
    bottom: 0px;
    left: 0px;
    padding: 10px;
    width: 200px;
    border-top: 1px solid #999;
}

.legenda{
  position: absolute;
  bottom: 0;
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  transition: .5s ease;
  opacity: 0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.imagem-esquerda:hover .legenda{
  opacity: 1;
}
